@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,700;1,300;1,400;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: rgb(19, 18, 18);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding: 0 2px;
}

@layer base {
  html {
    font-family: "Open Sans", sans-serif;
  }
}

@layer components {
  .btn-white {
    @apply cursor-pointer shadow-sm py-3 px-9 bg-gray-100 text-black font-medium rounded-full hover:shadow-md hover:bg-gray-100 focus:outline-none;
  }
  .btn-brown {
    @apply cursor-pointer py-3 px-9 bg-[#e25625] text-white font-medium rounded-full hover:shadow-md hover:bg-[#e1313d] focus:outline-none;
  }

  .nav-list {
    @apply gap-4 hover:text-[#e25625] text-lg cursor-pointer;
  }
}
